body{
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form{
    
    border: 3px solid #3e3f4b;
    border-radius: 10px;
    padding: 5px;

}
    
form input[type="text"]{
    background-color: #282c34;
    border: 0;
   
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 5px 8px;
    text-align: center;
    width: 20rem;
 
}

form button{
    border: 0  ;
    background-color: #61DAFB;
    border-radius: 10px;
    height: 2rem;
    width: 2rem;
   
    
}

div.task{
    background-color: #3e3f4b;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

div.checkbox{
    display: flex;
    align-items: center;
}

div.task svg{
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
    margin-right: 4px;
    fill: #61DAFB;
  
}

div.task.done{
    opacity: 0.5;
    text-decoration: line-through;
}

div.task span{
    flex-grow: 1;
    text-align: left;
    margin-left: 5px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    flex-grow: 1;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #61DAFB;
    text-align: center;
    text-decoration: underline #61DAFB 5px; 
}

h2,h3 {
    text-align: center;
}

button.trash{
    background-color: #282c34;
    border: 0;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    margin: 0 5px;
    margin-right: 4px;
    fill: #61DAFB;
    cursor: pointer;
   
}


